<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <!-- Get your Onescan Account Key and Secret from https://portal.ensygnia.net-->
    <add key="OnescanAccountKey" value="YOUR_ACCOUNT_KEY"/>
    <add key="OnescanSecret" value="YOUR_SECRET"/>
    <add key="OnescanCallbackURL" value="https://YOUR_SERVER_URL/OnescanCallback.aspx"/>
    <add key="OnescanServerURL" value="https://liveservice.ensygnia.net/api/PartnerGateway/2/RequestOnescanSession"/>
  </appSettings>

</configuration>