<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <!-- Onescan configuration settings -->
    <add key="OnescanAccountKey" value="YOUR ACCOUNT KEY"/>
    <add key="OnescanSecret" value="YOUR SECRET"/>
    <add key="OnescanCallbackURL" value="http://YOUR SERVER URL/OnescanCallback.aspx"/>
    <add key="WebContentUrl" value="http://YOUR SERVER URL/OnescanCallback.aspx"/>
    <add key="OnescanServerURL" value="https://liveservice.ensygnia.net/api/PartnerGateway/2/RequestOneScanSession"/>
  </appSettings>

</configuration>